html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


button:active {
  transform: scale(0.98);
}

button:hover {
  filter: brightness(1.15);
}
